<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\bulbul.accdb" />
		<add name="ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\bulbul1.accdb" />
		<!-- providerName="System.Data.OleDb"/>
    <add name="ConnectionString" connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\310098063\vsundaram\Automation\TradingService\TradingService\bin\Debug\bulbul.accdb;Provider=SQLOLEDB;"/>-->
	</connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.net>
		<defaultProxy>
			<proxy usesystemdefault="False" />
		</defaultProxy>
	</system.net>
	<appSettings>
		<add key="OutFile" value="D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\Redirect.txt" />
		<add key="inputFile" value="D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\bulbul.csv" />
		<add key="StartupFile" value="D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\StartupStatus.txt" />
		<add key="poweShellFile" value="D:\Transition\vsundaram\vsundaram\TradingService\TradingService\bin\x64\Debug\Trading.ps1" />
		<add key="ServicesName" value="D:\Transition\vsundaram\TradingService\TradingService\bin\x64\Debug\" />
		<!--<add key="UserID" value="ZU8745" />
    <add key="Password" value="dhiraj22" />
    <add key="2FA" value="222222" />
    <add key="apikey" value="oy9u8044n4bhlyle" />
    <add key="secretkey" value="a853b4ldheed90bs9qcfnfr5aljg8chw" />
    <add key="blacklist" value="KSCL,CASTROLIND,DLF,VEDL,TATAGLOBAL,UJJIVAN,PETRO,JSWSTEEL,MCDOWELL-N,JETAIRWAYS,JINDALSTEL,PCJEWELLER,YESBANK,HEXAWARE,ADANIENT,CESC,ESCORTS,ENGINERSIN,ONGC,HPCL,IGL,BPCL,OIL,IOC,ZEEL,CONCOR"/>
    -->
		<add key="HolidayList" value="02.21,03.10,04.02,04.06,04.10,04.14,05.01,05.25,10.02,11.16,11.30,12.25" />
		<add key="expiry" value="21MAYFUT" />
		<add key="month" value="5" />
		<add key="isOffset" value="false" />
		<add key="CutOnTime" value="9.36" />
		<add key="CutoffTime" value="19.58" />
		<add key="blacklist" value="CASTROLIND,MFSL,DLF,VEDL,GRASIM,SBIN,LICHSGFIN,GLENMARK,IBULHSGFIN,JUSTDIAL,LUPIN,UJJIVAN,PETRO,JETAIRWAYS,JINDALSTEL,PCJEWELLER,YESBANK,ADANIENT,ESCORTS,ONGC,HPCL,IGL,BPCL,OIL,IOC,ZEEL" />
		<add key="CommodityList" value="CRUDE,SILVER,ZINC,ALUMINIUM,COPPER" />
		<add key="ServiceStartTime" value="8.30" />
		<add key="ServiceStopTime" value="16.20" />
		<add key="NSENIFTY" value="256265" />
		<add key="CRUDE" value="55016711" />
		<add key="UserID" value="YV0890" />
		<add key="Password" value="Juliet#3" />
		<add key="2FA" value="131416" />
		<add key="apikey" value="2cpnkogtmjvn8v9f" />
		<add key="secretkey" value="sf5la8clokd8nmqsca59qclq3dq5h3fz" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>